/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

#onitsowncont {
  position: relative;
}
.onitsown {
  position: absolute;
  left: 5px;
  top: 30px;
  z-index: 99;
}

.onitsown2 {
  position: absolute;
  left: 75px;
  top: 30px;
  z-index: 99;
}

.onitsown3 {
  position: absolute;
  left: 148px;
  top: 30px;
  z-index: 99;
}

.onitsown4 {
  position: absolute;
  left: 215px;
  top: 30px;
  z-index: 99;
}

/*.onitsown5 {
  position: absolute;
  left: -20px;
  z-index: 99;
}

#relative{
  position: relative;
}*/

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
    left: 75px;
  }
}

@-webkit-keyframes rotate2 {
  from {
    -webkit-transform: rotate(0deg);
    left: 75px;
  }
  to { 
    -webkit-transform: rotate(360deg);
    left: 148px;
  }
}

@-webkit-keyframes rotate3 {
  from {
    -webkit-transform: rotate(0deg);
    left: 148px;
  }
  to { 
    -webkit-transform: rotate(360deg);
    left: 215px;
  }
}

@-webkit-keyframes rotate4 {
  from {
    -webkit-transform: rotate(0deg);
    left: 215px;
  }
  to { 
    -webkit-transform: rotate(360deg);
    left: 290px;
  }
}

li {
  list-style-type: none;
}

.onitsown-add {
  -webkit-animation-name:             rotate; 
  -webkit-animation-duration:         1s; 
  -webkit-animation-iteration-count:  1;
  -webkit-transition-timing-function: linear;
}

.onitsown-add-forum {
  -webkit-animation-name:             rotate2; 
  -webkit-animation-duration:         1s; 
  -webkit-animation-iteration-count:  1;
  -webkit-transition-timing-function: linear;
}

.onitsown-add-login {
  -webkit-animation-name:             rotate3; 
  -webkit-animation-duration:         1s; 
  -webkit-animation-iteration-count:  1;
  -webkit-transition-timing-function: linear;
}

.onitsown-add-signup {
  -webkit-animation-name:             rotate4; 
  -webkit-animation-duration:         1s; 
  -webkit-animation-iteration-count:  1;
  -webkit-transition-timing-function: linear;
}

/* Custom page header */

/* Make the masthead heading the same height as the navigation */

#relativeplease {
  position: relative;
  top: 20px;
}

.nocomments {
  margin-top: 6px;
}

#gimpadding {
  position: relative;
  top: 15px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.forumbuttons {
  margin-top: 120px;
  width: 150px;
  height: 40px;
}

#clown:hover {
  /*text-align: center;*/
  background-color: #C43D3D;
  right: 40px;
  position: relative;
  list-style: none;
  width: 160px;
  height: 42px;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;
}

#clown {
  right: 40px;
  position: relative;
  list-style: none;
  width: 160px;
  height: 42px;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;
}

#clown:hover > a {
  position: relative;
}

#clown > a {
  position: relative;
}

#colorblue {
  color: #F2F2F2;
  text-align: left;
  margin-left: 20px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #C2C2C2;
  overflow-y:hidden;
  margin-right: 20px;
}

#colorblueview {
  color: #F2F2F2;
  text-align: left;
  margin-left: 20px;
  border-bottom: 2px solid #C2C2C2;
  /*width: 100%;*/
  margin-right: 20px;

}

#colorbluelarger {
  color: #F2F2F2;
  text-align: left;
}

#colorback {
  color: #C2C2C2;
  text-align: left;
  /*padding-left: 5px;*/
}

#colorbackcontentcomment {
  overflow-x: auto; /* Use horizontal scroller if needed */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  white-space : normal;
  color: #000000;
  text-align: left;
  padding-top: 10px;
}

#colorbackcontent {
  color: #FFFFFF;
  text-align: left;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.css-class-add {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.repeatclass {

}

/*.css-class,
.css-class-add.css-class-add-active {

}

.css-class-remove.css-class-remove-active {

}

.fadein {
  
}*/

td {
  text-align:left;
}

.nav-pills-create {
  position: relative;
  list-style: none;
  background-color: #E34D4D;
  width: 120px;
  height: 42px;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
}

.nav-pills-create > li > a {
  position: relative;
  top: 11px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 40px;
}

.nav-pills-create > li:hover,
.nav-pills-create > li:focus {
  position: relative;
  text-decoration: none;
  background-color: #C43D3D;
  width: 120px;
  border-radius: 6px;
}

#postinfo {
  position: relative;
  color: inherit;
  background-color: #BD8484;
  border-radius: 2px;
  margin-left: 20px;
  text-align: left;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #E8E8E8;
}

#postinfocomment {
  position: relative;
  left: -1px;
  color: inherit;
  background-color: #BD8484;
  border-radius: 2px;
  margin-top: 10px;
  text-align: left;
  width: 100%;
  border: 1px solid #E8E8E8;
}

#editcommentplace {
  margin-bottom: 10px;
  width: 88%;
}

#commenttitle {
  text-align: left;
  height: 100%;
  margin-left: 10px;
}

#listit {
  text-align: left;
  margin-left: 10px;
  height: 100%;
}

.jumbotroninner {
  /*overflow-x: auto; /* Use horizontal scroller if needed */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  white-space : normal;
  padding-bottom: 8px;
  color: inherit;
  background-color: #C75252;
  cursor: pointer;
  margin: 20px;
}

.jumbotroninnerview {
  overflow-x: auto; /* Use horizontal scroller if needed */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  white-space : normal;
  padding-bottom: 8px;
  color: inherit;
  background-color: #C75252;
  border-radius: 6px;
  text-align: left;
}

.jumbotroncomment {
  padding-bottom: 8px;
  color: inherit;
  background-color: #DE8181;
  border-radius: 3px;
  margin: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  text-align: left;
}

#wrapperdiv {
  margin-right: 45px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.commentonit {
  margin: 20px;
  width: 76%;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  position: relative;
  margin-top: 100px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotronmain {
  position: relative;
  margin-top: 100px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 5px;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

#goleftnow {
  float: left;
  margin-left: 20px;
}

#goleftnowcomment {
  float: left;
  margin-left: 10px;
}

#inlineplease {
  cursor: pointer;
  /*display: inline;*/
}

#inlineplease2 {
  width: 302px;
  margin: 0 auto;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  #header {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
