<div ng-include="'partials/navbar'"></div>

<div class="jumbotronmain">
  	<h1>Hack it, <span ng-hide="currentUser">but first log in, or sign up</span><span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>

	<h3 style="text-align:left;">Hackabox will be the first open-source, "hack as you wish," game development platform.</h3><br>

	<p style="text-align:left;">I am trying to create an open-source gaming platform, that also comes packaged with all the tools needed to develop for it. I want to also create a service that anyone can upload content to. The system will be based on <a href="http://www.raspberrypi.org/">Raspberry Pi</a>. Obviously, it's graphics capabilities will not be as good as your standard gaming platform, but that isn't the point. Games like <a href="https://minecraft.net/">Minecraft</a> have proven that you don't need resource intensive graphics to make a great game...imagine developing cool 2D games (and maybe some 3D games), on your TV...and then uploading it to a database where you could sell it, or give it away!<p>

	<p style="text-align:left;">What about <a href="http://store.steampowered.com/livingroom/SteamMachines/">Steam Machine</a>, you say? Steam Machine, as it was released, has an extremely stripped down version of Linux for its OS - I do not plan on stripping away everything...I wan't anyone to be able to modify the Hackabox and create games.</p>

	<p style="text-align:left;">For the parents: Hackabox would finally incorporate aspects of creativity, and learning, with the time that your child spends in front of the TV, playing games. If you have a tech savvy kid, foster their needs by getting them a Hackabox! With a Hackabox, your kid will be able to create his own games...which can be played by the whole family!<p>

	<p style="text-align:left;">Check out <a href="http://lifehacker.com/how-and-why-to-teach-your-kids-to-code-510588878">this</a> article about how programming is good for kids!</p>

	<p style="text-align:left;">For the kids: Rock it, kids!</p>

	<p style="text-align:left;">For anyone who stumbles upon this project and thinks, "I could help with that!" - don't hesitate to leave a message in the forum!<p>
</div>

<!--<div class="footer">
</div>-->
