<div>
  <div align="center" style="margin-bottom:20px" id="inlineplease"><img href="/" src="../../images/hackaboxlogosite.png" alt="[H]acka[box]" height="100" width="200"></div>
  <div id="inlineplease2">
    <ul ng-controller="NavbarCtrl" class="nav nav-pills pull-right">
      <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
          <a ng-href="{{item.link}}">{{item.title}}</a>
      </li>
      <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a ng-href="/login">Login</a></li>
      <li ng-show="currentUser" ng-class="{active: isActive('/settings')}"><a ng-href="/settings">Settings</a></li>
      <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a ng-href="/signup">Sign up</a></li>
      <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a ng-href="" ng-click="logout()">Logout</a></li>
    </ul>
  </div>
</div>