<div class="wholeshebang" ng-controller="NavbarCtrl" >
  <div align="center" style="margin-bottom:20px" id="inlineplease"><img href="/" src="../../images/hackaboxlogosite.png" alt="[H]acka[box]" height="100" width="200"></div>
  <div id="inlineplease2">
  <div id="onitsowncont">
    <img class="onitsown" src="../../images/boxinit.png" spin>
    <img class="onitsown2" src="../../images/boxinit.png" forum>
    <img class="onitsown3" src="../../images/boxinit.png" senditout>
    <img class="onitsown4" src="../../images/boxinit.png" senditout2>
  </div>
  <ul class="nav nav-pills pull-right">
      <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}" ng-click="spin(item)">
          <a ng-href="{{item.link}}">{{item.title}}</a>
      </li>
      <li ng-click="senditout()" ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a ng-href="/login">Login</a></li>
      <li ng-show="currentUser" ng-class="{active: isActive('/settings')}"><a ng-href="/settings">Settings</a></li>
      <li ng-click="senditout2()" ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a ng-href="/signup">Sign up</a></li>
      <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a ng-href="" ng-click="logout()">Logout</a></li>
    </ul>
  </div>
</div>